body {
	font-family: serif;
}
header {
	height: 200px;
	background: #F5ECCE;
	text-align: center;
	border-radius: 10px;
}
h4 {
	font-size: 40px;
	color: #848484;
	display: inline-block;
	margin-top: 60px;
}
h2 {
	text-align: center;
	font-size: 40px;
	color: #0B2161;
}
h3 {
	text-align: center;
	color: #0B2161;
	text-decoration: underline;
}

#container {
	background: #F5ECCE;
	border-radius: 10px;
	height: 500px;
		
}
#quiz {
	height: 100%;
	margin-left: 200px;
	margin-right: 200px;
}
#quiz > ul {
	font-family: sans-serif;
}
li {
	display: block;
}
.true {
	color: #00FF00;
}
.false {
	color: #8A0808;
}
